<div class="row-fluid">
  <div class="panel panel-default">

    <div class="panel-heading">
      <h3 class="panel-title">{{t 'festivals'}}</h3>
    </div>

    <div class="panel-body">

      {{! LISTA DE FESTIVALES }}
      {{#each model as |festival|}}
      <div class="media">
        <div class="media-body">
          <h4 class="media-heading">{{festival.name}}</h4>
          {{festival.city}}, {{festival.country}}
        </div>
      </div>
      {{/each}}

    </div>

  </div>
</div>
{{outlet}}
